<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects API</title>
</head>

<body>
    <div class="container-fluid border row">
        <div class="container border lead col-lg-2">
            Homepage from my portfolio backend
        </div>
        <div class="border lead col-lg-6">
            Testing another text block
        </div>
    </div>

</body>

</html>